:root {
    --font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 16px;
}

.wrapper {
    padding: 40px;
    background: #f6f8fd;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu a {
    font-family: var(--font-family);
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: rgba(0, 53, 107, 0.7);
    text-decoration: none;
}

h1 {
    margin-top: 40px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 113%;
    text-transform: capitalize;
    color: #00356b;
}

h2,
h3,
h4 {
    margin-top: 30px;
    font-size: 18px;

    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: rgba(0, 53, 107, 0.7);
}

.header-subtitle {
    margin-top: 5px;
    font-size: 12px;
}

.about-me--title {
    margin-top: 0;
    font-size: 18px;
}

p {
    margin-top: 7px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.wrapper-content {
    display: flex;
    align-items: left;
    gap: 80px;
    margin-top: 40px;
}

.content-left {
    align-items: left;
    min-width: 70%;
}

.education-subtitle {
    margin-top: 4px;
    font-size: 15px;
    color: #000;
}

.content-right {
    width: 30%;
}