:root {
    --font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 16px;
}

.wrapper {
    padding: 40px;
    background: #f6f8fd;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu a {
    font-family: var(--font-family);
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: rgba(0, 53, 107, 0.7);
    text-decoration: none;
}

h1 {
    margin-top: 40px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 113%;
    text-transform: capitalize;
    color: #00356b;
}

h2,
h3,
h4 {
    margin-top: 30px;
    font-size: 18px;

    font-family: var(--font-family);
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: rgba(0, 53, 107, 0.7);
}

.header-subtitle {
    margin-top: 5px;
    font-size: 12px;
}

.about-me--title {
    margin-top: 0;
}

p {
    margin-top: 7px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.wrapper-content {
    display: flex;
    align-items: left;
    gap: 80px;
    margin-top: 40px;
}

.content-left {
    align-items: left;
    min-width: 70%;
}

.education-subtitle {
    margin-top: 4px;
    font-size: 14px;
    color: #000000;
}

.content-right {
    width: 30%;
}

.contacts-title {
    margin-top: 0;
}

.contacts-subtitle {
    margin-top: 9px;
    font-size: 14px;
    color: #000000;
}

.skills-box {
    list-style: none;
}

.skills-subtitle {
    margin-top: 15px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

.skills-pers {
    margin: 0;
    font-size: 10px;
}

.skills-bar {
    width: 100%;
    height: 3px;
    background: #ffffff;
}

.skills-html--progress {
    width: 80%;
    height: 3px;
    background: rgba(0, 53, 107, 0.7);
}

.skills-css--progress {
    width: 60%;
    height: 3px;
    background: rgba(0, 53, 107, 0.7);
}

.skills-git--progress {
    width: 40%;
    height: 3px;
    background: rgba(0, 53, 107, 0.7);
}

.skills-figma--progress {
    width: 35%;
    height: 3px;
    background: rgba(0, 53, 107, 0.7);
}