:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Poppins", sans-serif;
    --font3: "Abril Fatface", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 16px;
}